// =========================================
//  Mixins
// =========================================
@mixin flex-1 {
  flex-grow: 1;
}

@mixin flex {
  display: flex;
  flex-direction: row;
}

@mixin header {
  text-align: left;
  padding-left: 1rem;
}

@mixin socials ($name) {
  display: flex;
  box-shadow: 0 0 2px black;
  width: 97%;
  margin: 1rem;
  background-color: $color-white;
  @media (min-width: map-get($breakpoints, 'med')) {
    width: 20%;
    height: 80px;

  }
 
  #{$name}-image {
    flex-grow: 50%;
    background-color: $color-primary;
    border-radius: 50%; 
    margin: 8px;
    height: 100px;
    width: 100px;
    svg {
        height: 60px;
        width: 60px;
        fill: white;
        padding: 19.5px;
        }
    @media (min-width: map-get($breakpoints, 'med')) {
      height: 60px;
      max-width: 60px;
      margin: 5;
      padding: 0;
      svg{
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 10px 0;
      }
    }
      
    }
  
  .social-text {
    width: 80%;
    p { 
      color: $color-primary;
      font-size: 1.5rem;
      font-weight: 900;
      margin: 1rem;
      
    }
    @media (min-width: map-get($breakpoints, 'med')) {
      p { 
      font-size: 1rem; 
      margin: .7rem;
      }
      width: 50%;
    }
    :last-child{ 

      color: rgb(26, 26, 26);
      font-size: 2.3rem;
      font-weight: lighter;
      @media (min-width: map-get($breakpoints, 'med')) {
        font-size: 1.75rem; 
      }
    }
  }
}

@mixin  message ($num){ 
        height: $num;
        margin: 1rem;
        background-color: $color-white;
        border-radius: 5px; 

}
// =========================================
// breakpoint
// =========================================
