// =========================================
//  Mixins
// =========================================
@mixin flex-1 {
  flex-grow: 1;
}

@mixin flex {
  display: flex;
  flex-direction: row;
}

@mixin header {
  text-align: left;
  padding-left: 1rem;
}

@mixin socials ($name) {
  display: flex;
  background-color: $color-white;
  box-shadow: 0 0 2px black;
  height: 5rem;
  margin: 1rem;
  
 
  #{$name}-image {
        background-color: $color-primary;
        border-radius: 50%; 
        margin: 1rem;
        max-width: 3.2rem;
      
    }
  
  .social-text {
       p { 
          color: $color-primary;
          font-size: 1rem;
          font-weight: 900;
          margin: .4rem;
      }
      :last-child{ 
          color: rgb(26, 26, 26);
          font-size: 1.7rem;
          font-weight: lighter;
      }
  }
}

@mixin  message ($num){ 
        height: $num;
        margin: 1rem;
        background-color: $color-white;
        border-radius: 5px; 

}
// =========================================
// breakpoint
// =========================================
