// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #8130df; // violety
$color-primary-dark: darken($color-primary, 10%);
$color-text: #000000;
$color-green: #449b41;
$color-white: rgb(202, 202, 202);

// Fonts

// Breakpoints
$breakpoints: (
  "med": 768px,
  "lg": 992px,
);
