// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #112a61; // violety
$color-primary-dark: darken($color-primary, 10%);
$color-text: #000000;
$color-green: #449b41;
$color-white: rgb(238, 238, 238);

// Fonts

// Breakpoints
$breakpoints: (
  "med": 768px,
  "lg": 992px,
);
