// ======================================
//  grid Styles
// ======================================



#grid-box {
    display: grid;
    text-align: center;
    grid-template-columns:  100% ;
    gap: 0 0;
    grid-template-areas: 
    "head head head"
    "navigation navigation navigation"
    "mainContent mainContent mainContent"
    ;


    header {grid-area: head;}
    nav {grid-area: navigation;}
    .mainContent{  grid-area: mainContent;}

    @media (min-width: map-get($breakpoints, 'med')) {
        
        grid-template-columns: 8.5% 91.5%;
        grid-template-areas: 
        "head head"
        "navigation mainContent "
        "navigation mainContent"
    ;
    }
    
}



.mainContent{ 
    
    width: 92%;
    .tittle-flex{ 
        display: flex;
        width: 100%;
    }
    .tittle {
        font-weight: bolder ;
        width: 90%;
    }
    .tab{ 
        width: 80%;
    }
    
    @media (min-width: map-get($breakpoints, 'med')) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "tittle  tab"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members members"
        "recent recent"
        "message message"
        "settings settings"
        ;
        .tab {
            grid-row-end: 3;
        }
        .social-container{ 
            max-width: 90%;
        }
        .tittle-flex{ 
            width: calc(97vw - 64px);
        }
        .tittle {grid-area: tittle;}
        .daily {grid-area: daily;}
        .users {grid-area: users;}
        .social-container {grid-area: social;}
        .members {grid-area: members;}
        .recent-activity {grid-area: recent;}
        .message{grid-area: message;}
        .settings{grid-area: settings;}
        .alert{grid-area: alert;}
        .traffic{grid-area: traffic;}
    

    }
    @media (min-width: map-get($breakpoints, 'lg')) {
        grid-template-columns: 50% 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "tittle  tab"
        "alert alert"
        "traffic traffic"
        "daily users"
        "social social"
        "members recent"
        "members recent"
        "message settings"
        ;
       
    }
    
}


    // grid-column-start: 3 ;
    // grid-column-end: 4 ;
    // grid-row-start: 1 ;
    // grid-row-end: 