header {
  background-color: $color-primary;
  color: $color-white;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;

  svg {
    flex-grow: .75;
    border-right: solid $color-white 2px;
  }
  img {
    height: 40px;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    @include flex-1;
  }
  p {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    @include flex-1;
  }
    @media (min-width: map-get($breakpoints, 'med')) {
       #logo-name{ 
        flex-grow: 4;
        text-align: left;
        margin-left: 1rem;
        font-size: 2rem;
       } 
    }
}
