// ==========================================================
// image styles
// ===========================================================
img {
  border-radius: 50%;
}
svg {
  size: 40px;
  width: 40px;
  padding: 0.5rem;
}
