// ==========================================================
// image styles
// ===========================================================
img {
  border-radius: 50%;
  max-width: 40px;
}
svg {
  size: 2rem;
  width: 2rem;
  padding: 0.5rem;
}
