// ======================================
//  form styles
// ======================================


form { 
    display: flex;
    flex-direction: column;
    input{ 
        @include message (3rem);
    }
    textarea {
        @include message (5.3rem);
    }
}
.message {
    @media (min-width: map-get($breakpoints, 'med')) {
        width: 90vw;
    }
    @media (min-width: map-get($breakpoints, 'lg')) {
	border-right: 1px solid rgb(133, 132, 132) ;
    width: 100%;
    height: 100%;
    
    #send {
        z-index: 2;
        position: relative;
        bottom: 0px;
    }
    }
}