// 
// styles for the settings notifications
//

// .switch-light {
//    display: flex;  
//    flex-direction: row;
//    strong{ 
//        flex-grow: 1;
//    }
//    span { 
//        flex-grow: 1;af
//        background-color: $color-primary;
//        max-width: 20vw;
//        margin-right: 1rem;
//    }
// }
.settings, .settings:after, .settings:before {
	box-sizing: border-box;
}

body {
	justify-content: center;
}

.inputy[type="checkbox"] {
	visibility: hidden;
	&:checked + .labely {
		transform: rotate(360deg);
		background-color: #000;
		&:before {
			transform: translateX(40px);
			@media (min-width: map-get($breakpoints, 'med'))  {
				transform: translateX(58px);
			}
			background-color: rgb(167, 48, 48);
			color: black;
		}
	}
}


.labely {

    margin-right: 1rem;
	display: flex;
	width: 4rem;
	height: 25px;
	box-shadow: 0 0 2px black;
	border-radius: 15px;
    padding-left: 2rem;
    padding-top: .5rem;
	position: relative;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
    background-color: rgb(58, 158, 134);
	&:before {
		transition: transform .75s ease;
		transition-delay: .5s;
		content: "";
		display: block;
		position: absolute;
		width: 1rem;
		height: 1rem;
		background-color: rgb(236, 236, 236);
		border-radius: 50%;
		left: 2px;
	}
	@media (min-width: map-get($breakpoints, 'lg'))  {
		margin-left: 5rem;
	}
   
}

.switch{ 
    padding-left: 1rem;
    display: flex;
    width: 100%;
    p {
        
		text-align: left;
		padding-top: 7px;
    }
    input, label{ 
        flex-grow: 1;
        min-width: 2rem;
		max-width: 3rem;
		margin: 1rem 3rem;
		grid-column-start: 2;
		grid-row-start: 1;
    }
	display: grid;
	grid-template-columns: 60% 30%;
	
	@media (min-width: map-get($breakpoints, 'med'))  {
		
		grid-template-columns: 40% 30%;
	}
}
select {
    @include message(3rem);
    width: 80%;
	
}
.settings-button{ 
	width: 100%;
	
}
#timezone{ 
	width: 90%;
	
}
#save,
#cancel { 
    width: 40%;
	@media (min-width: map-get($breakpoints, 'med'))  {
		width: 42% ;
	}
}
#cancel{ 
    background-color: grey;
}