// 
// styles for the social stats 

.facebook{ 
  @include socials(".facebook");
}
.instagram {
    @include socials(".instagram");
}
.twitter {
    @include socials(".twitter");
}
// .twitter,
// .instagram,
// .facebook { 

// }

@media (min-width: map-get($breakpoints, 'med')) {
  .social-markup {
    box-sizing: content-box;
     display: flex;
     h3{ 
       flex-grow: 3;
     }
     div{ 
       flex-grow: 1;
     }
  }
}