// styles for the traffic 
// and daily traffic divs 

.chosen { 
    background-color: rgb(33, 163, 33);
    border-radius: 15px;
    color: white;
}
.traffic{ 
    padding-left: 1rem;
    border-top:none ;
    width: 90%;
    h3{ 
        @include header;
    }
    ul{ 
        display: flex;
        li { 
            flex-grow: 1;
            list-style-type: none;
            font-weight: 900;
        }
      
    }

        border-bottom: 50px $color-text;
    @media (min-width: map-get($breakpoints, 'med')) {
        .traffic-header { 
            display: flex;
            h3{ 
                flex-grow: 10;
            }
            ul {
                flex-grow: 1;
                height: 20px;
            }
            .chosen{    
                padding: 5px 2px;
                height: 26px;
            }
        }
    }
}
.daily, 
.users {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(133, 132, 132) ;
    width: 90%;
    @media (min-width: map-get($breakpoints, 'med')) {
        border-top: 1px solid rgb(133, 132, 132) ;
    }

}
#mobile-chart, 
#daily-chart {
    margin-bottom: 2rem;
}

.daily{ 
    padding-right:7% ;
    padding-left: 3%;
    margin-top: 2rem;
    border-top: 1px solid rgb(133, 132, 132) ;
    h3 {
        @include header;
    }
    
@media (min-width: map-get($breakpoints, 'med')) {
    border-right: 1px solid rgb(133, 132, 132);
}
}
.users {
    margin-top: 2rem;
    margin-right: 2rem;

}