// ======================================
//  Base Styles
// ======================================

h3{ 
    @include header;
    font-weight: 900;
}

.alert-banner{ 
    display: flex;
    flex-direction: row;
    background-color: $color-primary;
    margin: 1.2rem;
    width: 90%;
    color: $color-white;
    border-radius: 9px;
    height: 3.5rem;
    
    @media (min-width: map-get($breakpoints, 'med')) { 
        width: 98%;
    }
}
.alert-banner-close {
    text-align: right;
    width: 12%;
    margin-right: 1rem;
}
.alrt-first {
    width: 86%;
    font-size: smaller;
    height: 17px;
    margin: 19.5px 0;
}
svg {
    transform-origin: 50% 50%;
    margin-right: 1rem;
}