// ======================================
//  Base Styles
// ======================================

h3{ 
    @include header;
    font-weight: 900;
}

.alert-banner-close { 
    background-color: $color-primary;
    border-radius: 5px;
}